@{
    ViewBag.Title = "Contatos";
}
<h2 class="jumbotron">Nossos Contatos </h2>

<address>
    Avenida Brasil nº 3000 <br />
    Recife, PE  CEP: 53690-000<br />
    <abbr title="Tel">Telefone:</abbr>
    (81)9-9887-8877
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Agencia_viagens.com</a><br />
    <strong>Suporte:</strong> <a href="mailto:Marketing@example.com">Agencia.com</a>
</address>