
@{
    ViewBag.Title = "Promoções";
}

<h2 class="jumbotron">Promoções</h2>

<div class="container-fluid">

    <div class="container text-center">

        <img style="width:400px; height:auto" src="~/Content/img/praia de boa viagem.jpg" />
        <p class="text-center"> <strong>Praia de Boa Viagem - Recife</strong></p>
        <p class="text-center"> De: RS:500,00</p>
        <p class="text-center text-danger "> Por:<strong> R$: 350,00</strong></p>

        <button class="btn bg-primary">Comprar</button>

    </div>

    <br />

    <div class="container text-center">

        <img style="width:400px; height:auto" src="~/Content/img/cidades-da-bahia-das-charmosas-as-paradisiacas-770x500.jpg" />
        <p class="text-center"> <strong>Cidade Alta - Salvador</strong></p>
        <p class="text-center"> De: RS:600,00</p>
        <p class="text-center text-danger "> Por:<strong> R$: 450,00</strong></p>
        <button class="btn bg-primary">Comprar</button>

    </div>

    <br />

    <div class="container text-center">

        <img style="width:400px; height:auto" src="~/Content/img/rio-de-janeiro-capa2019-01.jpg" />
        <p class="text-center"> <strong>Mirante Dona Marta - Rio de Janeiro</strong></p>
        <p class="text-center"> De: RS:400,00</p>
        <p class="text-center text-danger "> Por:<strong> R$: 250,00</strong></p>
        <button class="btn bg-primary">Comprar</button>

    </div>
</div>